
=================================
Operation Log: [Timestamp Type(0=ADD, 1=REMOVE) FileURI]
---------------------------------
#foreach( $op in $ops )
[${op.timestamp.nodeId}, ${op.timestamp.seqNumber}]    ${op.type}    ${op.file.getURI()}
#end
=================================