
*********************************
Select an action:

 0: Show node profile
 1: Add a file
 2: Remove a file
 3: Show file index
 4: Show operation log
 5: Show summary vector
 6: Show acknowledgement vector
 7: Run synchronization session
 8: Run simulation
 9: Stop simulation
10: Exit
*********************************