
=================================
Acknowledgement vector: [NodeId --> SeqNumber]
---------------------------------
#set( $nodes = $ackSummary.keySet() )
#foreach( $node in $nodes )

$node
....................
#set( $timestamps = $ackSummary.get($node).values() )
#foreach( $timestamp in $timestamps)
$timestamp.nodeId --> $timestamp.seqNumber
#end
#end
=================================