
=================================
File Index: [Owner --> Filename <URI>]
---------------------------------
#foreach( $file in $files )
$file.owner --> $file.filename <${file.getURI()}>
#end
=================================