
=================================
Simulation stats:
---------------------------------
Connections:     $simulation.connections
Disconnections:  $simulation.disconnections
Added Files:     $simulation.addedFiles
Removed Files:   $simulation.removedFiles
=================================